
/* base variables */

/* Edit the CSS properties in this file to create a custom
   Distill theme. Only edit values in the right column
   for each row; values shown are the CSS defaults.
   To return any property to the default,
   you may set its value to: unset
   All rows must end with a semi-colon.                      */

/* Optional: embed custom fonts here with `@import`          */
/* This must remain at the top of this file.                 */
@import url('https://fonts.googleapis.com/css2?family=Rubik');
@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Work_Sans');


html {
  /*-- Main font sizes --*/
  --title-size:      20px;
  --body-size:       16px;
  --code-size:       14px;
  --aside-size:      12px;
  --fig-cap-size:    13px;
  /*-- Main font colors --*/
  --title-color:     #93b778;
  --header-color:    #ce536b;
  --body-color:      #000000;
  --aside-color:     #252525;
  --fig-cap-color:   #252525;
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    "Work_Sans", sans-serif;
  --mono-font:       monospace;
  --body-font:       "Rubik", sans-serif;
  --navbar-font:     "Poppins", sans-serif;  /* websites + blogs only */
}

/*-- ARTICLE METADATA --*/
d-byline {
  --heading-size:    0.6rem;
  --heading-color:   #6c6d94;
  --body-size:       0.8rem;
  --body-color:      #000000;
}

/*-- ARTICLE TABLE OF CONTENTS --*/
.d-contents {
  --heading-size:    16px;
  --heading-color:   #dfa837;
  --contents-size:   14px;
  --text-color:      #b63e36;
}

/*-- ARTICLE APPENDIX --*/
d-appendix {
  --heading-size:    15px;
  --heading-color:   #6c6d94;
  --text-size:       0.8em;
  --text-color:      #000000;
}

/*-- WEBSITE HEADER + FOOTER --*/
/* These properties only apply to Distill sites and blogs  */

.distill-site-header {
  --title-size:       35px;
  --text-color:       #bdbdbd;
  --text-size:        25px;
  --hover-color:      #93b778;
  --bkgd-color:       #6c6d94;
}

.distill-site-footer {
  --text-color:       #6c6d94;
  --text-size:        15px;
  --hover-color:      white;
  --bkgd-color:       #93b778;
}

/*-- Additional custom styles --*/
/* Add any additional CSS rules below                      */
/* Change bullets */
ul > li::marker {
  font-size: 1.125em;
  color: #b63e36;
}

/* Change link appearance */
d-article a {
  border-bottom: 2px solid #dfa837;
  text-decoration: none;
}

